*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cookie
*.d
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.make
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
